.l-layout {
    display:block;
    width:100%;
    position:relative;
    &[data-isopen="true"]{
        height:100vh;
        overflow: hidden;
    }
    .l-inner{
        min-height: calc(100vh - 35px);
        height:100%;
        padding-bottom:30px;
        &[data-loggedin="false"]{
            &:before{
                content:"";
                display: block;
                padding-top: 50px;
            }
        }
    }
}