* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
}

body {
    font-size:16px;
    line-height:1.5;
    color: #424242;
}

input , select , textarea , button{
    display: block;
    -webkit-appearance: none;
    box-sizing: border-box;
}