$breakpoints: (
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)'
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

$fs: (
  'sm': 16px,
  'md': 20px,
  'lg': 24px,
  'xl': 32px,
  'xxl': 40px,

) !default;

.reset{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.header-in-box{
  display:block;
  width:96%;
  margin:0 auto;
  border: 1px solid #EAEAEA ;
  border-radius:10px;
  overflow: hidden;
  @include mq(md){
    max-width:768px;
  }
  .inner-header{
    content:"";
    display:block;
    background-color:#E9E9E9;
  }

  .inner-box{

    padding:0px 10px 30px 10px;
    @include mq(md){
      padding:0px 30px 30px 30px;
    }
  }
}

.reset_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.submit_btn {
  @extend .reset_btn;
  display:block;
  color:#ffffff;
  background-color:#4EC8A3;
  border:2px solid #4EC8A3;
  width:100%;
  font-size:20px;
  max-width:480px;
  height:40px;
  margin:0 auto;
  border-radius:8px;
  &:hover{
    color:#4EC8A3;
    background-color:#ffffff;
  }
}

.view_poll_btn{
  @extend .reset_btn;
  display: block;
  width: 100%;
  max-width: 480px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: 8px 0px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #4EC8A3;
  background-color: #ffffff;
  color: #4EC8A3;
  &:hover{
    background-color:#4EC8A3;
    color:#ffffff;
  }
}

.view_result_btn{
  @extend .reset_btn;
  display: block;
  width: 100%;
  max-width: 480px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: 8px 0px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #61B2EC;
  background-color: #ffffff;
  color: #61B2EC;
  &:hover{
    background-color:#61B2EC;
    color:#ffffff;
  }
}



@mixin user_picture($pixWidth:100%) {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width:100%;
    position:relative;
    .inner-box{
      display:block;
      width:$pixWidth;
      height:$pixWidth;
      padding:0;
      margin:auto;
      img {
        content:"";
        display:block;
        width:$pixWidth;
        height:$pixWidth;
        border-radius:50%;
      }
    }
}



