.m-header {
    display:block;
    width:100%;
    height:80px;
    border-bottom: 2px solid #65C2B1;
    position:relative;

    &__title{
        display:block;
        position: relative;
        width:100%;
        height:30px;
        margin:0;
        margin-bottom:0;
        background-color: #C4C4C4;
        color:#ffffff;
        line-height: 1.75;
        font-size:map-get($fs,sm);
        font-weight:normal;
        text-align:center;
        z-index:9;
    }

    .m-content{
        display:flex;
        height:48px;
        position: relative;
        justify-content:flex-end;
        background-color: #fff;
        margin:0px auto;
        z-index:9;
        @include mq(md){
            max-width:992px;
            justify-content: space-between;
        }
        &__nav {
            display:none;
            @include mq(md){
                display:block;
            }
            .m-menu{
                @extend .reset;
                display:flex;
                list-style: none;
                li {
                    a {
                        padding: 24px 20px 0px 20px;
                        line-height: 1;
                        display: block;
                        color:#424242;
                        text-decoration: none;
                        position:relative;
                        &:hover{
                            color:#ffffff;
                            &:before{
                                content:"";
                                position:absolute;
                                top: 18px;
                                right: 0;
                                bottom:0;
                                left:0;
                                z-index:-1;
                                height: 30px;
                                background:#65C2B1;
                                transform: perspective(10px) rotateX(5deg);
                                border-radius:4px 4px 0px 0px;
                            }
                        }
                    }
                }
            }
        }
        &__login{
            display:none;
            @include mq(md){
                display:flex;
            }
            .m-user{
                padding: 24px 20px 0px 20px;
                line-height: 1;
                display: block;
                color:#424242;
            }
            .m-user_pic {
                @include picture(100%);
                width:24px;
            }
            .m-logout_btn {
                padding: 24px 20px 0px 20px;
                line-height: 1;
                display: block;
                color:#424242;
            }
        }
        &__hamburger_btn {
            display:block;
            content: "";
            height: 47px;
            width: 50px;
            padding: 10px;
            position:relative;
            @include mq(md){
                display:none;
            }
            div{
                content:"";
                position:absolute;
                background-color:#424242;
                width:30px;
                height:4px;
                &[data-position="top"] {
                    top: 10px;
                }
                &[data-position="mid"] {
                    top: 21px;
                }
                &[data-position="bottom"] {
                    bottom:10px;
                }
            }
        }
    }

    .m-toggle_menu {
        display:block;
        position:absolute;
        top:0px;
        height:100vh;
        width:100vw;
        background-color: #424242;
        z-index:8;
        &__inner{
            width: calc(100% - 80px);
            position: absolute;
            right: 0px;
            top: 80px;
            height: calc(100% - 80px);
            padding: 30px 0px 0px 20px;
            background-color: #fff;
            .m-user{

                margin-bottom:20px;
            }
            .m-user_pic {
                @include picture(100%);
                height: 120px;
                margin-bottom:20px;
                img{
                    width:120px;
                    height:120px;
                    border-radius:50%;
                    margin: 0 auto;
                }
            }
            .m-nav{
                .m-menu{
                    @extend .reset;
                    list-style:none;
                    li{
                        
                        a{
                            display:block;
                            padding:8px 0px;
                            line-height:1;
                            color:#424242;
                        }
                        &:last-child{
                            a{
                                margin-left: -20px;
                                background-color:#9C9C9C;
                                padding:8px 0px 8px 20px;
                                color:#ffffff;
                            }
                        }
                    }
                }
            }
        }

        @include mq(md){
            display:none;
        }
    }
}