/*
<section class="m-home">
            <div class="m-menu_wrap">
                <ul class="m-tabs">
                    <li>Unansswered Questions</li>
                    <li>Answered Questions</li>
                </ul>
                <div class="m-panels">
                    <ul class="m-panel">
                        <li class="m-panel__item">
                            <header class="inner_header">
                                Sarah Edo asks:
                            </header>
                            <div class="inner_box">
                                <figure class="m-user_pic">
                                    <img src="" alt="" />
                                </figure>
                                <div class="m-content">
                                    <p class="m-"></p>
                                    <figure class="m-user_pic">
                                        <img src="" alt="" />
                                    </figure>
                                    <p class="m-question"></p>
                                    <button class="m-view_poll_btn" type="button">View Poll</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
*/

.m-home{
    width:96%;
    max-width:768px;
    margin:0 auto;
    .m-menu_wrap{
        border:solid 1px #EAEAEA;
        .m-tabs{
            display:flex;
            list-style:none;
            margin-bottom:30px;
            li{
                width: 50%;
                text-align: center;
                padding: 8px 0px;
                border-bottom:solid 1px #EAEAEA;
                span{
                    display:none;
                    @include mq(md){
                        display:inline;
                        pointer-events:none;
                    }
                }
                &[data-current="true"]{
                    background-color:#E9E9E9;
                    color:#4EC8A3;
                    
                }
            }
        }
        .m-panels{
            .m-panel{
                list-style:none;
                &__item {
                    @extend .header-in-box;
                    margin-bottom:20px;
                   
                    .inner-header{
                        
                        font-size: 20px;
                        padding: 8px; 
                    }
                    .inner_box{
                        display:flex;
                        padding:20px;
                        .m-user_pic{
                            display:none;
            
                            @include mq(md){
                                content:"";
                                display:flex;
                                justify-content:center;
                                align-items:center;
                                width:100%;
                                max-width:167px;
                                margin: 0;
                                background: transparent;
                                margin-right:20px;
                                border-right:solid #EAEAEA 1px;
                                img{
                                    display:block;
                                    width:100%;
                                    max-width:132px;
                                    height:132px;
                                    margin:0 auto;
                                }
                            }
                        }
                        .m-content{
                            .m-watchword{

                            }
                            .m-user_pic{
                                content:"";
                                display:flex;
                                justify-content:center;
                                align-items:center;
                                width:100%;
                                max-width:167px;
                                margin: 0;
                                background: transparent;
                                margin-right:20px;
                                border-right:solid #EAEAEA 1px;
                                img{
                                    display:block;
                                    width:100%;
                                    max-width:132px;
                                    height:132px;
                                    margin:0 auto;
                                }
                            
                            @include mq(md){
                                display:none;
                            }
                            }

                            .m-question_word{

                            }

                            .m-view_poll_btn{
                                @extend .view_poll_btn;
                            }
                        }
                    }
                }
            }
        }
    }
}