
.m-home{
    width:96%;
    max-width:768px;
    margin:0 auto;
    .m-menu_wrap{
        border:solid 1px #EAEAEA;
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;
        .m-tabs{
            display:flex;
            list-style:none;
            margin-bottom:30px;
            li{
                width: 50%;
                text-align: center;
                padding: 8px 0px;
                border-bottom:solid 1px #EAEAEA;
                span{
                    display:none;
                    @include mq(md){
                        display:inline;
                        pointer-events:none;
                    }
                }
                &[data-current="true"]{
                    background-color:#E9E9E9;
                    color:#4EC8A3;
                    
                }
            }
        }
        .m-panels{
            .m-panel{
                list-style:none;
                &__item {
                    @extend .header-in-box;
                    margin-bottom:20px;
                   
                    .inner-header{
                        font-size: 20px;
                        padding: 8px; 
                    }
                    .inner_box{
                        display:flex;
                        padding: 10px;
                        @include mq(md){
                            padding:20px;
                        }
                        .m-user_pic{
                            display:none;
            
                            @include mq(md){
                                @include user_picture(142px);
                                max-width:182px;
                                border-right:solid 2px #EAEAEA;
                            }
                        }
                        .m-content{
                            width:100%;
                            padding-left:0px;
                            @include mq(md){
                                width:calc(100% - 182px);
                                padding-left:20px;
                            }
                            
                            .m-watchword{
                                font-size:20px;
                                @include mq(md){
                                    font-size:24px;
                                }
                            }
                            .m-user_pic{
                                @include user_picture(142px);
                                width:100%;
                            
                                @include mq(md){
                                    display:none;
                                }
                            }

                            .m-question_word{
                                display:block;
                                margin-bottom:20px;
                                
                                @include mq(md){
                                    min-height:calc(100% - 96px);
                                }
                            }

                            .m-view_poll_btn{
                                @extend .view_poll_btn;
                            }
                            .m-view_result{
                                @extend .view_result_btn;
                            }
                        }
                    }
                }
            }
        }
    }
}