.m-login {
    @extend .header-in-box;
    .inner-header{
        padding:10px 0;
        margin-bottom:20px;
        .m-title{
            display:block;
            font-size:16px;
            line-height:1;
            font-weight:normal;
            text-align:center;
            margin-bottom:10px;
            @include mq(md){
                font-size:24px;
            }
        }
        .m-subtext{
            display:block;
            text-align:center;
            font-size:14px;
            line-height:1;
            margin-bottom:0px;
            @include mq(md){
                font-size:16;
            }
        }
    }

    .inner-box{
        .m-top_pic{
            width:100%;
            max-width:198px;
            margin:0 auto 20px;
        }
        .m-sign-in{
            display:block;
            font-size:24px;
            font-weight:bold;
            text-align:center;
            line-height:1;
            color:#4EC8A3;
            margin-bottom:20px;
            @include mq(md){
                font-size:32px;
            }
        }

        .m-form{
            .m-select_user{
                width:100%;
                max-width:480px;
                margin:0 auto 10px;
                border:solid 1px #424242;
                border-radius:8px;
                position:relative;
                overflow: hidden;
                &:before{
                    content:"";
                    display:block;
                    position:absolute;
                    width: 0px;
                    height: 0px;
                    right: 8px;
                    top: 15px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid #424242;
                    background-color: transparent;
                }

                /*
 <div className="m-select_user" >
                <ul className="m-users">
                    {this.props.users !== undefined &&
                        this.props.users.map((user) => (
                            <li key={user.id} id={user.id} onClick={this.handleOnClick}>
                                <label for={user.id + '--users'} >
                                    <input type="radio" name="name" id={user.id + '--users'} />
                                    <div>
                                        <figure className="m-user_pic">
                                            <img src="{user.avatarURL}" alt="" />
                                        </figure>
                                        <p className="m-user_name">{user.name}</p>
                                    </div>
                                </label>
                            </li>
                        ))
                    }
                </ul>
            </div>

                */

                .m-selectedBox{
                    line-height: 1;
                    padding: 12px 15px;
                    display: block;
                    
                }

                .m-users{
                    @extend .reset;
                    content:"";
                    top: 0;
                    max-width:480px;
                    width: 100%;
                    list-style:none;
                    background-color: #ffffff;
                    position:relative;
                    
                    li{
                        display:block;
                        padding: 0px 15px;
                        &[data-iscurrent="true"]{
                            background-color: #E9E9E9;
                        }
                        label{
                            display:flex;
                            height:40px;
                            width:100%;

                            input[type='radio']{
                                display:none;
                            }
                            /*
@mixin user_picture($maxwidth:100%,$pixWidth:100%,$padding:0px) {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width:100%;
    position:relative;
    @include mq(md){
      max-width:$maxwidth;
      padding:0px $padding;
    }
    .inner-box{
      display:block;
      max-width:$pixWidth;
      max-width:$pixWidth;
      width:100%;
      height:100%;
      margin:auto;
      img {
        display:block;
        width:100%;
        height:100%;
        border-radius:50%;
      }
    }
}
                            */
                            .m-user_pic{
                                @include user_picture(32px);
                                max-width:40px;
                            }
                            .m-user_name {
                                width: calc(100% - 40px);
                                font-size: 16px;
                                line-height: 1;
                                padding: 11px 4px;
                            }
                            &:checked{
                                background-color: #424242;
                            }
                        }
                    }
                }
            }

            .m-submit{
                @extend .submit_btn;
            }
        }
    }
}