.m-login {
    @extend .header-in-box;
    .m-login_header{
        padding:10px 0;
        margin-bottom:20px;
        .m-title{
            display:block;
            font-size:16px;
            line-height:1;
            font-weight:normal;
            text-align:center;
            margin-bottom:10px;
            @include mq(md){
                font-size:24px;
            }
        }
        .m-subtext{
            display:block;
            text-align:center;
            font-size:14px;
            line-height:1;
            margin-bottom:0px;
            @include mq(md){
                font-size:16;
            }
        }
    }

    .inner-box{
        .m-top_pic{
            @include picture($aspect: 75%);
            width:100%;
            max-width:198px;
            margin:0 auto 20px;
        }
        .m-sign-in{
            display:block;
            font-size:24px;
            font-weight:bold;
            text-align:center;
            line-height:1;
            color:#4EC8A3;
            margin-bottom:20px;
            @include mq(md){
                font-size:32px;
            }
        }

        .m-form{
            .m-select_user{
                width:100%;
                max-width:480px;
                margin:0 auto 10px;
                border:solid 1px #424242;
                border-radius:8px;
                position:relative;
                &:before{
                    content:"";
                    display:block;
                    padding-bottom: 40px;
                    width:100%;
                    background:transparent;
                }

                .m-users{
                    @extend .reset;
                    content: "";
                    display: flex;
                    flex-flow: column;
                    position: absolute;
                    top: 0;
                    max-width:480px;
                    width: 100%;
                    list-style:none;
                    background-color: #ffffff;
                    li{
                        display:block;
                        label{
                            display:flex;
                            height:40px;
                            width:100%;

                            input[type='radio']{
                                //display:none;
                            }
                            .m-user_pic{
                                @include picture(100%);
                                width:30px;
                            }
                            .m-user_name {
                                font-size:16px;
                            }
                            &:checked{
                                background-color: #424242;
                            }
                        }
                    }
                }
            }

            .m-submit{
                @extend .submit_btn;
            }
        }
    }
}