.m-new_question{
    @extend .header-in-box;
    width:96%;
    max-width:768px;
    margin:0 auto;
    
    .inner-header{
        h2{
            font-size: 20px;
            padding: 8px;
            text-align:center;
            font-weight:normal;
        } 
    }

    .inner_box{
        width: 100%;
            display:block;
            max-width: 480px;
            margin: 0 auto;
            padding:10px;
            @include mq(md){
                padding:20px;
            }
            .m-watchword{
                font-size:20px;
                margin-bottom:10px;
                @include mq(md){
                    font-size:24px;
                }
            }
            .m-form{
                position:relative;
                width: 100%;
                border: solid 1px transparent;
                input[type="text"] {
                    display:block;
                    width: 100%;
                    font-size:16px;
                    margin: 0 auto;
                    border: solid 1px #EAEAEA;
                    border-radius: 8px;
                    position: relative;
                    line-height: 1;
                    padding: 5px 8px;
                    &:last-of-type {
                        margin-bottom:10px;
                    }
                    @include mq(md){
                        padding: 7px 8px;
                    }
                }
                .m-separate{
                    width: 100%;
                    height:36px;
                    display:block;
                    position:relative;
                    &:before{
                        content: "";
                        width: 100%;
                        display: block;
                        height: 2px;
                        position: absolute;
                        margin:auto;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        border-radius: 50%;
                        background-color: #EAEAEA;
                    }
                    span{
                        display: block;
                        position: absolute;
                        width: 38px;
                        height: 12px;
                        font-size: 12px;
                        line-height: 1;
                        margin: auto;
                        text-align: center;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-color: #fff;
                    }
                }
                .m-submit{
                    @extend .submit_btn;
                }
            }
 
    }
}