/*

*/

.m-question{
    @extend .header-in-box;
    width:96%;
    max-width:768px;
    margin:0 auto;
    .inner_header{

    }
    .inner_box{
        display:flex;
        padding:20px 30px 20px 20px;

        .m-user_pic{
            display:none;
            
            @include mq(md){
                content:"";
                display:flex;
                justify-content:center;
                align-items:center;
                width:100%;
                max-width:167px;
                margin: 0;
                background: transparent;
                margin-right:20px;
                border-right:solid #EAEAEA 1px;
                img{
                    display:block;
                    width:100%;
                    max-width:132px;
                    height:132px;
                    margin:0 auto;
                }
            }
        }
        .m-content{
            width:100%;
            max-width:calc(100% - 142px);
            .m-watchword{
                font-size:24px;
                font-weight:normal;
            }
            .m-user_pic{
                
                content:"";
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:100%;
                    max-width:167px;
                    margin: 0;
                    background: transparent;
                    margin-right:20px;
                    border-right:solid #EAEAEA 1px;
                    img{
                        display:block;
                        width:100%;
                        max-width:132px;
                        height:132px;
                        margin:0 auto;
                    }
                
                @include mq(md){
                    display:none;
                }
            }
            .m-form{
                .m-radio-input{
                    display: none;
                    & + label{
                        padding-left: 20px;
                        position:relative;
                        margin-right: 20px;
                        &:before{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 15px;
                            height: 15px;
                            border: 1px solid #999;
                            border-radius: 50%;
                        }
                    }

                    &:checked{
                        & + label{
                            color: #d01137;
                        }
                        & + label::before{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            width: 11px;
                            height: 11px;
                            background: #d01137;
                            border-radius: 50%;
                        }
                    }
                  }
                  .m-submit{
                    @extend .submit_btn;
                    width:100%;
                    max-width:100%;
                }
            }
        }


        .m-results{
            list-style:none;
            li{
                border:solid #EAEAEA 1px;
                margin-bottom:20px;
                padding:10px 20px;
                border-radius:10px;
                .m-question_word{
                    margin-bottom:20px;
                }
                .m-graph{
                    content:"";
                    background:#EAEAEA;
                    display:block;
                    height: 40px;
                    width:100%;
                }
            }
        }
    }
}