/*

*/

.m-question{
    @extend .header-in-box;
    width:96%;
    max-width:768px;
    margin:0 auto;
    .inner-header{
        h2{
            font-size: 20px;
            padding: 8px;
            font-weight:normal;
        } 
    }
    .inner_box{
        display:flex;
        padding: 10px;
        @include mq(md){
            padding:20px;
        }

        .m-user_pic{
            display:none;

            @include mq(md){
                @include user_picture(142px);
                max-width:182px;
                border-right:solid 2px #EAEAEA;
            }
        }
        .m-content{
            width:100%;
            @include mq(md){
                width:calc(100% - 182px);
                padding-left:20px;
            }
            .m-watchword{
                font-size:20px;
                margin-bottom:10px;
                @include mq(md){
                    font-size:24px;
                }
            }
            .m-user_pic{
                @include user_picture(142px);
                width:100%;
                margin-bottom:10px;
            
                @include mq(md){
                    display:none;
                }
            }
            .m-form{
                &__inputs{
                    display:block;
                    margin-bottom:20px;
                    @include mq(md){
                        min-height:calc(100% - 96px);
                    }
                    .m-radio-input{
                        display: none;
                        & + label{
                            display:block;
                            padding-left: 24px;
                            position:relative;
                            line-height:1;
                            margin-bottom:10px;
                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 16px;
                                height: 16px;
                                border: 1px solid #999;
                                border-radius: 50%;
                            }
                        }
    
                        &:checked{
                            & + label{
                                color: #4EC8A3;
                            }
                            & + label::before{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 16px;
                                height: 16px;
                                border: solid 1px #4EC8A3;
                                border-radius: 50%;
                            }
                            & + label::after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 3px;
                                left: 3px;
                                width: 12px;
                                height: 12px;
                                background: #4EC8A3;
                                border-radius: 50%;
                            }
                        }
                      }
                }

                  .m-submit{
                    @extend .submit_btn;
                    width:100%;
                    max-width:100%;
                }
            }
        }


        .m-results{
            list-style:none;
            li{
                border:solid #EAEAEA 1px;
                margin-bottom:20px;
                padding:10px 20px;
                border-radius:10px;
                .m-question_word{
                    margin-bottom:20px;
                }
                .m-graph{
                    content:"";
                    background:#EAEAEA;
                    display:block;
                    height: 40px;
                    width:100%;
                    border-radius: 8px;
                    overflow: hidden;
                    .m-tick_mark{
                        content:"";
                        display:block;
                        min-width:30px;
                        line-height: 1;
                        padding: 11px 8px;
                        text-align:right;
                        background-color:#4EC8A3;
                        color:#ffffff;
                    }
                }
            }
        }
    }
}