.reset, .m-header .m-content__nav .m-menu, .m-header .m-toggle_menu__inner .m-nav .m-menu, .m-login .inner-box .m-form .m-select_user .m-users, .m-leader_board .m-leader {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.header-in-box, .m-login, .m-home .m-menu_wrap .m-panels .m-panel__item, .m-leader_board .m-leader .m-leader_card .m-score, .m-new_question, .m-question {
  display: block;
  width: 96%;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header-in-box, .m-login, .m-home .m-menu_wrap .m-panels .m-panel__item, .m-leader_board .m-leader .m-leader_card .m-score, .m-new_question, .m-question {
    max-width: 768px;
  }
}

.header-in-box header, .m-login header, .m-home .m-menu_wrap .m-panels .m-panel__item header, .m-leader_board .m-leader .m-leader_card .m-score header, .m-new_question header, .m-question header {
  content: "";
  display: block;
  background-color: #E9E9E9;
}

.header-in-box .inner-box, .m-login .inner-box, .m-home .m-menu_wrap .m-panels .m-panel__item .inner-box, .m-leader_board .m-leader .m-leader_card .m-score .inner-box, .m-new_question .inner-box, .m-question .inner-box {
  padding: 0px 10px 30px 10px;
}

@media screen and (min-width: 768px) {
  .header-in-box .inner-box, .m-login .inner-box, .m-home .m-menu_wrap .m-panels .m-panel__item .inner-box, .m-leader_board .m-leader .m-leader_card .m-score .inner-box, .m-new_question .inner-box, .m-question .inner-box {
    padding: 0px 30px 30px 30px;
  }
}

.reset_btn, .submit_btn, .m-login .inner-box .m-form .m-submit, .m-new_question .inner_box .m-submit, .m-question .inner_box .m-content .m-form .m-submit, .view_poll_btn, .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-view_poll_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.submit_btn, .m-login .inner-box .m-form .m-submit, .m-new_question .inner_box .m-submit, .m-question .inner_box .m-content .m-form .m-submit {
  display: block;
  color: #ffffff;
  background-color: #4EC8A3;
  border: 2px solid #4EC8A3;
  width: 100%;
  font-size: 20px;
  max-width: 480px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
}

.submit_btn:hover, .m-login .inner-box .m-form .m-submit:hover, .m-new_question .inner_box .m-submit:hover, .m-question .inner_box .m-content .m-form .m-submit:hover {
  color: #4EC8A3;
  background-color: #ffffff;
}

.view_poll_btn, .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-view_poll_btn {
  display: block;
  width: 100%;
  max-width: 480px;
  font-size: 20px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #4EC8A3;
  background-color: #ffffff;
  color: #4EC8A3;
}

.view_poll_btn:hover, .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-view_poll_btn:hover {
  color: #4EC8A3;
  color: #ffffff;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.l-layout {
  display: block;
  width: 100%;
  position: relative;
}

.m-header {
  display: block;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #65C2B1;
  position: relative;
  margin-bottom: 30px;
}

.m-header__title {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0;
  margin-bottom: 0;
  background-color: #C4C4C4;
  color: #ffffff;
  line-height: 1.75;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 9;
}

.m-header .m-content {
  display: flex;
  height: 48px;
  position: relative;
  justify-content: flex-end;
  background-color: #fff;
  margin: 0px auto;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .m-header .m-content {
    max-width: 992px;
    justify-content: space-between;
  }
}

.m-header .m-content__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-header .m-content__nav {
    display: block;
  }
}

.m-header .m-content__nav .m-menu {
  display: flex;
  list-style: none;
}

.m-header .m-content__nav .m-menu li a {
  padding: 24px 20px 0px 20px;
  line-height: 1;
  display: block;
  color: #424242;
  text-decoration: none;
  position: relative;
}

.m-header .m-content__nav .m-menu li a:hover {
  color: #ffffff;
}

.m-header .m-content__nav .m-menu li a:hover:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 30px;
  background: #65C2B1;
  transform: perspective(10px) rotateX(5deg);
  border-radius: 4px 4px 0px 0px;
}

.m-header .m-content__login {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-header .m-content__login {
    display: flex;
  }
}

.m-header .m-content__login .m-user {
  padding: 24px 20px 0px 20px;
  line-height: 1;
  display: block;
  color: #424242;
}

.m-header .m-content__login .m-user_pic {
  position: relative;
  width: 100%;
  margin: 0;
  width: 24px;
}

.m-header .m-content__login .m-user_pic:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.m-header .m-content__login .m-user_pic img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.m-header .m-content__login .m-logout_btn {
  padding: 24px 20px 0px 20px;
  line-height: 1;
  display: block;
  color: #424242;
}

.m-header .m-content__hamburger_btn {
  display: block;
  content: "";
  height: 47px;
  width: 50px;
  padding: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .m-header .m-content__hamburger_btn {
    display: none;
  }
}

.m-header .m-content__hamburger_btn div {
  content: "";
  position: absolute;
  background-color: #424242;
  width: 30px;
  height: 4px;
}

.m-header .m-content__hamburger_btn div[data-position="top"] {
  top: 10px;
}

.m-header .m-content__hamburger_btn div[data-position="mid"] {
  top: 21px;
}

.m-header .m-content__hamburger_btn div[data-position="bottom"] {
  bottom: 10px;
}

.m-header .m-toggle_menu {
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #424242;
  z-index: 8;
}

.m-header .m-toggle_menu__inner {
  width: calc(100% - 80px);
  position: absolute;
  right: 0px;
  top: 80px;
  height: calc(100% - 80px);
  padding: 30px 0px 0px 20px;
  background-color: #fff;
}

.m-header .m-toggle_menu__inner .m-user {
  margin-bottom: 20px;
}

.m-header .m-toggle_menu__inner .m-user_pic {
  position: relative;
  width: 100%;
  margin: 0;
  height: 120px;
  margin-bottom: 20px;
}

.m-header .m-toggle_menu__inner .m-user_pic:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.m-header .m-toggle_menu__inner .m-user_pic img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.m-header .m-toggle_menu__inner .m-user_pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.m-header .m-toggle_menu__inner .m-nav .m-menu {
  list-style: none;
}

.m-header .m-toggle_menu__inner .m-nav .m-menu li a {
  display: block;
  padding: 8px 0px;
  line-height: 1;
  color: #424242;
}

.m-header .m-toggle_menu__inner .m-nav .m-menu li:last-child a {
  margin-left: -20px;
  background-color: #9C9C9C;
  padding: 8px 0px 8px 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .m-header .m-toggle_menu {
    display: none;
  }
}

.m-login .m-login_header {
  padding: 10px 0;
  margin-bottom: 20px;
}

.m-login .m-login_header .m-title {
  display: block;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .m-login .m-login_header .m-title {
    font-size: 24px;
  }
}

.m-login .m-login_header .m-subtext {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .m-login .m-login_header .m-subtext {
    font-size: 16;
  }
}

.m-login .inner-box .m-top_pic {
  position: relative;
  width: 100%;
  margin: 0;
  width: 100%;
  max-width: 198px;
  margin: 0 auto 20px;
}

.m-login .inner-box .m-top_pic:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.m-login .inner-box .m-top_pic img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.m-login .inner-box .m-sign-in {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #4EC8A3;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .m-login .inner-box .m-sign-in {
    font-size: 32px;
  }
}

.m-login .inner-box .m-form .m-select_user {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 10px;
  border: solid 1px #424242;
  border-radius: 8px;
  position: relative;
}

.m-login .inner-box .m-form .m-select_user:before {
  content: "";
  display: block;
  padding-bottom: 40px;
  width: 100%;
  background: transparent;
}

.m-login .inner-box .m-form .m-select_user .m-users {
  content: "";
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  max-width: 480px;
  width: 100%;
  list-style: none;
  background-color: #ffffff;
}

.m-login .inner-box .m-form .m-select_user .m-users li {
  display: block;
}

.m-login .inner-box .m-form .m-select_user .m-users li label {
  display: flex;
  height: 40px;
  width: 100%;
}

.m-login .inner-box .m-form .m-select_user .m-users li label .m-user_pic {
  position: relative;
  width: 100%;
  margin: 0;
  width: 30px;
}

.m-login .inner-box .m-form .m-select_user .m-users li label .m-user_pic:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.m-login .inner-box .m-form .m-select_user .m-users li label .m-user_pic img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.m-login .inner-box .m-form .m-select_user .m-users li label .m-user_name {
  font-size: 16px;
}

.m-login .inner-box .m-form .m-select_user .m-users li label:checked {
  background-color: #424242;
}

/*
<section class="m-home">
            <div class="m-menu_wrap">
                <ul class="m-tabs">
                    <li>Unansswered Questions</li>
                    <li>Answered Questions</li>
                </ul>
                <div class="m-panels">
                    <ul class="m-panel">
                        <li class="m-panel__item">
                            <header class="inner_header">
                                Sarah Edo asks:
                            </header>
                            <div class="inner_box">
                                <figure class="m-user_pic">
                                    <img src="" alt="" />
                                </figure>
                                <div class="m-content">
                                    <p class="m-"></p>
                                    <figure class="m-user_pic">
                                        <img src="" alt="" />
                                    </figure>
                                    <p class="m-question"></p>
                                    <button class="m-view_poll_btn" type="button">View Poll</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
*/
.m-home {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
}

.m-home .m-menu_wrap {
  border: solid 1px #EAEAEA;
  padding: 20px;
}

.m-home .m-menu_wrap .m-tabs {
  display: flex;
  list-style: none;
}

.m-home .m-menu_wrap .m-tabs li {
  width: 50%;
}

.m-home .m-menu_wrap .m-panels .m-panel {
  list-style: none;
}

.m-home .m-menu_wrap .m-panels .m-panel__item .inner_box {
  display: flex;
  padding: 20px;
}

.m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-user_pic {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-user_pic {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 167px;
    margin: 0;
    background: transparent;
    margin-right: 20px;
    border-right: solid #EAEAEA 1px;
  }
  .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-user_pic img {
    display: block;
    width: 100%;
    max-width: 132px;
    height: 132px;
    margin: 0 auto;
  }
}

.m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-user_pic {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 167px;
  margin: 0;
  background: transparent;
  margin-right: 20px;
  border-right: solid #EAEAEA 1px;
}

.m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-user_pic img {
  display: block;
  width: 100%;
  max-width: 132px;
  height: 132px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .m-home .m-menu_wrap .m-panels .m-panel__item .inner_box .m-content .m-user_pic {
    display: none;
  }
}

/*
 
*/
.m-leader_board {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
}

.m-leader_board .m-leader {
  list-style: none;
}

.m-leader_board .m-leader .m-leader_card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: solid 1px #E9E9E9;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card {
    flex-direction: row;
    padding: 30px;
  }
}

.m-leader_board .m-leader .m-leader_card:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  left: -45px;
  top: -45px;
  background-color: #E9E9E9;
  transform: rotate(45deg);
}

.m-leader_board .m-leader .m-leader_card .m-leader_pic {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-leader_pic {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 142px;
    margin: 0;
    background: transparent;
  }
  .m-leader_board .m-leader .m-leader_card .m-leader_pic img {
    display: block;
    width: 100%;
    max-width: 132px;
    height: 132px;
    margin: 0 auto;
  }
}

.m-leader_board .m-leader .m-leader_card .m-content {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-content {
    content: "";
    display: block;
    width: calc(100% - 244px);
    background: transparent;
    border-right: solid 1px #E9E9E9;
    border-left: solid 1px #E9E9E9;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-content {
    padding: 0px 20px;
    margin: 0px 20px;
  }
}

.m-leader_board .m-leader .m-leader_card .m-content__name {
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-content__name {
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.m-leader_board .m-leader .m-leader_card .m-content .m-leader_pic {
  display: flex;
  height: 132px;
  margin-bottom: 20px;
}

.m-leader_board .m-leader .m-leader_card .m-content .m-leader_pic img {
  display: block;
  width: 100%;
  max-width: 132px;
  height: 132px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-content .m-leader_pic {
    display: none;
  }
}

.m-leader_board .m-leader .m-leader_card .m-content__score_detail {
  width: 100%;
  margin-bottom: 20px;
}

.m-leader_board .m-leader .m-leader_card .m-content__score_detail tr th {
  width: calc(100% - 64px);
  font-weight: normal;
}

.m-leader_board .m-leader .m-leader_card .m-content__score_detail tr td {
  width: 64px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-content__score_detail {
    margin-bottom: 0px;
  }
}

.m-leader_board .m-leader .m-leader_card .m-score {
  width: 100%;
  height: 100%;
  min-height: 142px;
}

.m-leader_board .m-leader .m-leader_card .m-score .inner_header {
  height: 48px;
  padding: 12px 0px;
  line-height: 1;
  font-size: 24px;
  text-align: center;
}

.m-leader_board .m-leader .m-leader_card .m-score .inner_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 48px);
  min-height: 94px;
}

.m-leader_board .m-leader .m-leader_card .m-score .inner_box .m-count {
  border-radius: 50%;
  font-size: 32px;
  padding: 7px 0px;
  color: #ffffff;
  width: 64px;
  height: 64px;
  text-align: center;
  background-color: #65C2B1;
}

@media screen and (min-width: 768px) {
  .m-leader_board .m-leader .m-leader_card .m-score {
    content: "";
    display: block;
    max-width: 142px;
    background: transparent;
  }
}

/*
        <section class="m-new_question">
            <header class="inner_header">
                <h2>Create New Question</h2>
            </header>
            <div class="inner_box">
                <p class="m-watchword">Would You Rather ...</p>
                <form action="" class="m-form">
                    <input type="text" name="" id="">
                    <div class="m-separate"><span >OR</span></div>
                    <input type="text" name="" id="">
                    <button class="m-submit" type="button">Submit</button>
                </form>
            </div>
        </section>
*/
.m-new_question {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
}

.m-new_question .inner_header h2 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.m-new_question .inner_box {
  width: 100%;
  display: block;
  max-width: 480px;
  margin: 0 auto 10px;
}

.m-new_question .inner_box .m-watchword {
  font-size: 24px;
  font-weight: normal;
}

.m-new_question .inner_box input {
  width: 100%;
  display: block;
  max-width: 480px;
  margin: 0 auto 10px;
  border: solid 1px #424242;
  border-radius: 8px;
  position: relative;
}

.m-new_question .inner_box .m-separate {
  width: 100%;
  display: block;
  position: relative;
}

.m-new_question .inner_box .m-separate:before {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  position: absolute;
  background-color: #424242;
}

.m-new_question .inner_box .m-separate span {
  display: block;
  padding: 0px 10px;
  background-color: #fff;
}

/*

*/
.m-question {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
}

.m-question .inner_box {
  display: flex;
  padding: 20px 30px 20px 20px;
}

.m-question .inner_box .m-user_pic {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-question .inner_box .m-user_pic {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 167px;
    margin: 0;
    background: transparent;
    margin-right: 20px;
    border-right: solid #EAEAEA 1px;
  }
  .m-question .inner_box .m-user_pic img {
    display: block;
    width: 100%;
    max-width: 132px;
    height: 132px;
    margin: 0 auto;
  }
}

.m-question .inner_box .m-content {
  width: 100%;
  max-width: calc(100% - 142px);
}

.m-question .inner_box .m-content .m-watchword {
  font-size: 24px;
  font-weight: normal;
}

.m-question .inner_box .m-content .m-user_pic {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 167px;
  margin: 0;
  background: transparent;
  margin-right: 20px;
  border-right: solid #EAEAEA 1px;
}

.m-question .inner_box .m-content .m-user_pic img {
  display: block;
  width: 100%;
  max-width: 132px;
  height: 132px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .m-question .inner_box .m-content .m-user_pic {
    display: none;
  }
}

.m-question .inner_box .m-content .m-form .m-radio-input {
  display: none;
}

.m-question .inner_box .m-content .m-form .m-radio-input + label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}

.m-question .inner_box .m-content .m-form .m-radio-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

.m-question .inner_box .m-content .m-form .m-radio-input:checked + label {
  color: #d01137;
}

.m-question .inner_box .m-content .m-form .m-radio-input:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #d01137;
  border-radius: 50%;
}

.m-question .inner_box .m-content .m-form .m-submit {
  width: 100%;
  max-width: 100%;
}

.m-question .inner_box .m-results {
  list-style: none;
}

.m-question .inner_box .m-results li {
  border: solid #EAEAEA 1px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.m-question .inner_box .m-results li .m-question_word {
  margin-bottom: 20px;
}

.m-question .inner_box .m-results li .m-graph {
  content: "";
  background: #EAEAEA;
  display: block;
  height: 40px;
  width: 100%;
}
